@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald&subset=latin-ext");
* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

body, html {
  color: #444444;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: #f7f1e3;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background: url(images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.page-intro {
  margin: auto;
  text-align: center;
}

.main-title {
  margin: 0;
  color: #f7f1e3;
  font-size: 55px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  padding: 0 24px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.main-subtitle {
  margin: 24px 0 60px 0;
  font-weight: normal;
  color: #f7f1e3;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
}

.btn {
  padding: 18px 24px 18px 24px;
  font-size: 24px;
  background-color: #D86C82;
  color: #f7f1e3;
  box-shadow: 0 4px #af2f49;
  letter-spacing: 1px;
  border-radius: 4px;
  flex-wrap: wrap;
}

.btn:hover {
  background-color: #d56078;
  color: #f7f1e3;
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.section-title:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background: #D86C82;
  left: 50%;
  bottom: -16px;
  margin-left: -5px;
  border-radius: 50%;
}

.about {
  background-color: #f0f3f3;
}

.section-intro {
  margin: 36px 0 0 0;
  color: #5e5e5e;
  text-align: center;
}

.features-wrapper {
  display: flex;
}

.feature {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
  margin: 24px 0 0 0;
}

.feature i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #f7f1e3;
  font-size: 32px;
  background-color: #D86C82;
  border-radius: 50%;
  box-shadow: 4px 4px #af2f49;
}

.feature-title {
  margin: 24px 0 0 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.feature-description {
  margin: 24px 0 0 0;
  padding: 0 24px;
}

.statement {
  background-image: url(images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.statement p {
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #f7f1e3;
  font-size: 24px;
  text-transform: uppercase;
}

.quotes {
  background-color: #f6f8f8;
}

.quotes-wrapper {
  margin: 72px 0 0 0;
}

.quote blockquote {
  padding: 0 36px;
}

.quote footer {
  margin: 24px 0 0 0;
}

section.gallery {
  padding: 60px 20px;
}

.gallery-wrapper {
  display: flex;
  margin: 72px 20px;
  text-align: center;
}

.gallery-item {
  position: relative;
  margin: 20px;
  flex: 25%;
  max-width: 25%;
  text-align: center;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:before {
  position: absolute;
  display: none;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.gallery-item figcaption {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #f7f1e3;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.gallery-item:hover:before, .gallery-item:hover figcaption {
  display: block;
}

.technology {
  background-color: #f6f8f8;
  text-align: center;
}

.technology i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
  font-size: 50px;
}

.contact {
  text-align: center;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  border: 1px solid #D86C82;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.social-links li:hover {
  background: #D86C82;
}

.social-links li a {
  display: block;
  width: 100%;
  height: 100%;
}

.social-links li a:hover {
  color: #ffffff;
}

.feedback {
  color: #f7f1e3;
  background-image: url(images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.page-footer {
  background: #e8ecec;
  padding: 12px 0;
  font-size: 12px;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
}

.page-footer p {
  margin: 0;
}
